@import '../../styles/_variables';

.Menu {
  position: fixed;
  top: 2.1rem;
  right: 2rem;
  color: $white;
  list-style: none;
  z-index: 998;
  font-size: 1.1rem;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: none;
  }
  li {
    letter-spacing: 1px;
    line-height: 19px;
    margin-bottom: 7px;
    z-index: 999;
  }
  .onViewPort {
    color: $cyan;
  }
}
