$black: #000;
$darkGray: #231f20;
$darkGray2: #0f0f0f;
$gray: #2e2e31;
$darkBlue: #5577a1;
$purple: #8e9eca;
$middleBlue: #68c4e8;
$cyan: #43e8d6;
$lightBlue: #a0f9fc;
$lightGreen: #b1f4d5;
$white: #fff;
