@import '../../styles/_variables';

.SliderPage {
  width: 100vw;
  height: 100%;
  float: left;
  padding-left: 5vw;
  box-sizing: border-box;
  .location-button {
    border: 1px solid $white;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 30px;
    font-size: 1.1rem;
  }
  .header {
    margin-top: 7vh;
    .location-name {
      display: inline-flex;
      flex-direction: row;
      align-items: baseline;
      border-bottom: 1px solid $white;
      padding-bottom: 6px;
      margin-bottom: 5px;
      .title-location {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.6rem;
      }
      @media (max-width: 320px) {
        width: 120px;
      }
    }
    .activities-category {
      font-size: 1.1rem;
      text-transform: uppercase;
      line-height: 2.6rem;
    }
    .dates {
      font-size: 0.9rem;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
  .content-schedule {
    margin-top: 30px;
    width: 90vw;
    height: 332px;
    .sub-location {
      border-bottom: 1px solid #fff;
      font-size: 1.4rem;
      padding-bottom: 3px;
      text-transform: lowercase;
      font-weight: normal;
    }
    .activities {
      box-sizing: border-box;
      padding: 6vw 3vw;
      height: 100%;
      min-height: 288px;
      position: relative;
      animation: fadeInRight 1s;
    }
  }
  @keyframes fadeInRight {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
