@import '../../styles/_variables';

.MobileSchedule {
  height: 100vh;
  width: 900%;
  position: relative;
  color: $white;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  .instructions {
    position: absolute;
    bottom: 20px;
    width: 100vw;
    text-align: center;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    @media (max-width: 320px) {
      bottom: 0px;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

//transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

//transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
