@import '../../styles/_variables';

.MapMarker {
  color: $cyan;
  width: auto;
  margin-top: 2px;
  font-weight: lighter;
  font-size: 0.75rem;
  cursor: pointer;
  .marker {
    background-color: $cyan;
    width: 10px;
    height: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    &:hover {
      width: 40px;
      height: 40px;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  .titleLeft {
    transform: translate(-50px, -20px);
  }
  .titleUpperLeft {
    width: 70px;
    transform: translate(-40px, -23px);
  }
  .titleDownLeft {
    width: 70px;
    transform: translate(-50px, 0px);
    text-align: left;
  }
  .titleBigger {
    width: 50px;
    transform: translate(-15px, 5px);
  }
}
