@import '../../styles/_variables';

.Map {
  width: 100vw;
  height: 100%;
  position: relative;
  .message-error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    color: $cyan;
    font-size: 0.9rem;
    font-weight: lighter !important;
  }
  .taglines {
    color: $cyan;
    width: 100%;
    position: absolute;
    top: 40px;
    width: 100px;
    display: flex;
    flex-direction: column;
    right: 60vw;
    z-index: 999;
    @media (min-width: 768px) {
      right: 30vw;
    }
    h3 {
      font-size: 0.9rem;
      font-weight: normal !important;
      line-height: 20px;
    }
  }
}
